.Popover {
  position: absolute;
  top: 100%;
  background: #fff;
  z-index: 10;
  padding: 22px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  transition: opacity 0.2s, visibility 0.2s;
  transition-delay: 0.25s;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
