@import '~@schibstedspain/sui-theme/lib/index';

$Calendar-day-width: 44px !default;
$Calendar-day-onHover-backgroundColor: #dedede !default;
$Calendar-day-isSelected-backgroundColor: #31417d !default;
$Calendar-day-isSelected-color: #ffffff !default;

$Calendar-width: $Calendar-day-width * 7 !default;

.Calendar {
  background: #fff;
  max-width: $Calendar-width;
  margin: 0 auto;
}

.Calendar-topBar {
  display: flex;
  width: 100%;
  padding-bottom: 12px;
}

.Calendar-month {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 4px 8px;
  flex: 1 auto;
  text-align: center;
}

.Calendar-arrow {
  color: #0000ff;
  font-weight: 700;
  cursor: pointer;
  padding: 2px 4px;
}

.Calendar-days {
  font-size: 14px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, $Calendar-day-width);
  grid-template-rows: 1fr repeat(6, $Calendar-day-width);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.Calendar-dayWeeks {
  display: block;
  padding: 8px 0;
  font-size: 12px;
  text-align: center;

  &--weekend {
    font-weight: 700;
  }
}


.Calendar-day {
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;

  &--prev,
  &--next {
    color: #a6a6a6;
  }

  &:hover {
    background: $Calendar-day-onHover-backgroundColor;
  }

  &.is-selected {
    color: $Calendar-day-isSelected-color;
    background: $Calendar-day-isSelected-backgroundColor;
  }
}
